*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:monospace;
}
:root{
    --app-background: #111b21;
    --keyboard-background: rgb(9, 52, 63);
    --color: rgb(148, 163, 230);
    --color-variant: rgb(8, 33, 36);
    --keyboard-variant: rgb(13, 88, 107);
    --transition: 0.5s ease;
}

body{
    background: var(--app-background);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.app-container{
    width: 100vw;
    height: 100vh;
}
.inp{
    max-width: 50rem;
    min-width: 50rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    outline: none;
    font-weight: 900;
    background: var(--color);
    border-color: transparent;
    color: var(--color-variant);
    cursor: pointer;
    margin: 14rem 25%;
    top: 0;
    position: absolute;
    padding: 0.5rem 1rem;
}
.keyboard{
    position: absolute;
    z-index: 999;
    width: 100vw;
    background: var(--keyboard-background);
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    bottom: -1rem;
    transition: var(--transition);
    height: 0rem;
    gap: 1rem;
}
.input-con{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.first-row, .second-row, .third-row, .fourth-row, .fifth-row, .numSym-sndRow, .numSym-thdRow, .numSym-frthRow{
    display: flex;
    width: max-content;
    gap: 2rem;
    margin: 0 auto;
    cursor: pointer;
}
.first-row > div, .second-row > div, .third-row > div, .fourth-row > div, .fifth-row > div, .numSym-sndRow > div, .numSym-thdRow > div, .numSym-frthRow > div{
    padding: 0.8rem 1.5rem;
    background: var(--keyboard-variant);
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: white;
    transition: var(--transition);

}
.first-row > div:hover, .second-row > div:hover, .third-row > div:hover, .fourth-row > div:hover, .fifth-row > div:hover, .numSym-sndRow > div:hover, .numSym-thdRow > div:hover, .numSym-frthRow > div:hover, .num-sym::after{
    background: rgb(23, 160, 194);
}
.space{
    min-width: 30rem;
}

.upper{
    text-transform: uppercase;
}
.symbols{
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.alphabets{
    flex-direction: column;
    gap: 1rem;
    display: flex;
}
.num-sym{
    position: relative;
}

.emojis{
    display: none;
    grid-template-columns: repeat(11, 1fr);
    position: absolute;
    z-index: 1000;
    border-radius: 0.5rem;
    width: max-content;
    height: max-content;
    bottom: 6rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    padding: 1rem;
    right: 2rem;
}
.emojis > div{
    width: max-content;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 50%;
    padding: 0.2rem;
}
.emojis > div:hover{
    background: rgba(0, 0, 0, 0.9);
}
.dis{
    display: grid;
}
.flexx{
    display: flex;
}
@media screen and (max-width: 950px) {
    .inp{
        min-width: 30rem;
    }
    .first-row > div, .second-row > div, .third-row > div, .fourth-row > div, .fifth-row > div, .numSym-sndRow > div, .numSym-thdRow > div, .numSym-frthRow > div{
        padding: 0.8rem 1.2rem;
        font-size: 1.5rem;
    }
    .keyboard{
        padding: 0.5rem 1rem;
    }
    .first-row, .second-row, .third-row, .fourth-row, .fifth-row, .numSym-sndRow, .numSym-thdRow, .numSym-frthRow{
        gap: 1.5rem;

    }

}
.alphh{
    display: none;
}
@media screen and (max-width: 750px) {

    .first-row > div, .second-row > div, .third-row > div, .fourth-row > div, .fifth-row > div{
        font-size: 1.3rem;
    }

    .first-row, .second-row, .third-row, .fourth-row, .fifth-row, .numSym-sndRow, .numSym-thdRow, .numSym-frthRow{
        gap: 1rem;

    }
  

}
@media screen and (max-width: 610px) {

    .first-row > div, .second-row > div, .third-row > div, .fourth-row > div, .fifth-row > div, .numSym-sndRow > div, .numSym-thdRow > div, .numSym-frthRow > div{
        padding: 0.6rem 1rem;
        font-size: 1.2rem;
    }

    .first-row, .second-row, .third-row, .fourth-row, .fifth-row, .numSym-sndRow, .numSym-thdRow, .numSym-frthRow{
        gap: 0.5rem;

    }
    .keyboard{
        padding: 0.5rem 0.5rem;
    }
      .inp{
        min-width: 15rem;
    }
    .space{
        min-width: 15rem;
    }

}
@media screen and (max-width: 460px) {

    .first-row > div, .second-row > div, .third-row > div, .fourth-row > div, .fifth-row > div, .numSym-sndRow > div, .numSym-thdRow > div, .numSym-frthRow > div{
        padding: 0.9rem 0.75rem;
    }

    .space{
        min-width: 10rem;
    }

}
@media screen and (max-width: 400px) {

    .first-row > div, .second-row > div, .third-row > div, .fourth-row > div, .fifth-row > div, .numSym-sndRow > div, .numSym-thdRow > div, .numSym-frthRow > div{
        padding: 0.3rem 0.6rem;
        font-size: 1.3rem;
    }
    .space{
        min-width: 10rem;
    }

}
