*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:monospace;
}
:root{
    --app-background: #111b21;
    --keyboard-background: rgb(9, 52, 63);
    --color: rgb(148, 163, 230);
    --color-variant: rgb(8, 33, 36);
    --keyboard-variant: rgb(13, 88, 107);
    --transition: 0.5s ease;
}

body{
    background: var(--app-background);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.app-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#input{
    width: 70%;
    height: 6rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    outline: none;
    font-weight: 900;
    background: var(--color);
    border-color: transparent;
    color: var(--color-variant);
    cursor: pointer;
    padding: 0.7rem 1rem;
    transition: var(--transition);
}
#input:hover{
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.9);
}
.input-con{
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
}

