.keyboard{
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 25rem;
    background: var(--keyboard-background);
    padding: 0.5rem 3rem;
    bottom: -1rem;
    transition: var(--transition);
    bottom: -25rem;
    display: flex;
    justify-content: center;
}
.keys{
    width: max-content;
}
.key{
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background: cornflowerblue;
    color: var(--app-background);
    transition: var(--transition);
}
.key:hover{
    background: var(--color);
}
.space{
    width: 40rem;
}
.funKeys{
    padding: 1rem 2rem;
}
.upper{
    text-transform: uppercase;
}
.noDisplay {
    display: none;
}
.yesDisplay{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5rem;
    width: max-content;
    position: absolute;
    bottom: 7rem;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.3);
    height: 25vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    right: 2rem;
}
.emoji{
    width: max-content;
    font-size: 1.5rem;
    padding: 0.1rem;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 50%;
}
.emoji:hover{
    background: rgba(212, 210, 210, 0.295);
    
}

@media screen and (max-width: 800px) {
    .key{
        padding: 1rem 1.2rem;
        margin: 0.3rem;
    }
    .space{
        width: 30rem;
    }
    .funKeys{
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .key{
        padding: 0.5rem 1rem;
        margin: 0.2rem;
        font-size: 1.3rem;
    }
    .space{
        width: 20rem;
    }
    .funKeys{
        padding: 0.7rem 0.8rem;
    }
    .keyboard{
        padding: 0.5rem 0 0;
        height: 17rem;
    }
    
}
@media screen and (max-width: 470px) {
    .key{
        padding: 0.5rem 0.6rem;
        font-size: 1.4rem;
        margin: 0.1rem;
    }
    .space{
        width: 17rem;
    }
    .funKeys{
        padding: 0.7rem 0.5rem;
    }
    
}